<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let item of posters">
  <ion-card>
    <img class="poster" [src]="item.poster_path | imagen" alt="">
  </ion-card>
   
  </ion-slide>
</ion-slides>