<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Peliculas recientes</h3>
      </ion-col>
     
    </ion-row>
  </ion-grid>

<app-slidesshow-backdrop [peliculas]="peliculasRec"></app-slidesshow-backdrop>

<ion-grid fixed>
  <ion-row>
    <ion-col>
      <h3>Cartelera</h3>
    </ion-col>
   
  </ion-row>
</ion-grid>
<app-slidesshow-poster [posters]="peliculasRec"></app-slidesshow-poster>
</ion-content>
